.cadastro {
    width: 200px;
    border-radius: 30px;
    border: none;
    background-color: #32ADE6;
    padding: 10px;
    color: white;
    font-size: medium;
    box-shadow: 2px 2px 5px rgba(142, 141, 141, 0.5);
}
.h2 {
    font-weight: 400;
    margin-left: 90px;
    margin-right: 70px;
}
.venda {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-top: 30px;
}
.formu {
    border-radius: 30px;
    border-style: none;
    background-color: #ece9e9;
    border-color: #ece9e9;
    padding: 10px;
}

.popup {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_conteudo {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}


.fechar_popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar_popup:hover,
.fechar_popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup_conteudo h2 {
    margin-left: 30px;
}

.ft_livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-top: 30px;
    margin-left: 250px;
}

.ft_livro img {
    width: 170px;
    margin-bottom: 30px;
}

.agrup_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_cad {
    margin-right: 250px;
}

.f {
    background-color: #ece9e9;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
}
.vendidos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 220px;
    margin-left: 90px;
}
.livro_vendido {
    height: 167px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
}

.sobre_livro h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.sobre_livro h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #3E3C3C;
    font-weight: 600;
}
.sobre_livro p {
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 600;
}

.venda_livro {
    width: 150px;
    margin-right: 10px;
}
/* .vender {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.estado {
    display: flex;
    justify-content: flex-end;
}

.estado h5 {
    background-color: #34C759;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: medium;
}

.vender p {
    margin-top: 70px;
    width: 300px;
}
.card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 520px;
  height: 180px;
  margin: 30px auto;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding-bottom: 80px;
  gap: 20px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}