.capa:hover {
  transform: scale(1.05);
}

.capa {
  border-radius: 5px;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info {
  text-align: center;
}

.titulo {
  font-size: 1rem;
  font-weight: bold;
  margin: 4px 0;
  color: #333;
}

.autor {
  font-size: 0.9rem;
  color: #666;
}

.preco {
  font-size: 1rem;
  font-weight: 600;
  color: #32ADE6;
  margin-top: 6px;
}
